services:
  time:
    build: .
    container_name: time
    ports: 
      - $PORT:$PORT
    environment:
      - MEDIAURL
      - PORT
    image: lucas42/lucos_time
    restart: always
    network_mode: host